{% extends 'base.html' %}


{% block content %}

<h1>This is my album detail page!</h1>
{{ album }}

<h2>The details of this album are: </h2>
<ul>
    <li>Album Title: {{album.album_name}}</li>
    <li>Artist Name: {{album.artist}}</li>
    <li>Number of Tracks: {{album.num_of_tracks}}</li>
    <li>Album Release Date: {{album.release_date}}</li>
</ul>


<a href="{% url 'home' %}">homepage</a>
<a href="{% url 'edit-album' album.pk %}">Edit</a>

{% endblock %}
<!-- <p><a href="{% url 'edit-album' %}">Edit</a></p> -->