<!-- change to remove form to delete -->

{% extends 'base.html' %}

{% block content %}
<h1>Delete Album</h1>

<form action="" method="POST">
    {% csrf_token %}
    <p>Are you sure you want to delete this album "{{album.album_name}}"?</p>

    <div>
        <button type="submit"
            class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Yes</button>
        <a href="{% url 'home' %}">Cancel</a>
    </div>

</form>

{% endblock %}